on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Check code formatting
        run: npm run format:check
      - name: Run tests with coverage
        run: npm run test:coverage
      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          fail_ci_if_error: true
      - name: Build extension
        run: npm run build
      - name: Copy metadata to dist
        run: cp metadata.json dist/

      - name: Package extension
        id: package
        uses: murar8/gnome-extensions-action@0.1.0
        if: github.ref_type != 'tag'
        with:
          source-dir: dist
          extra-source: |
            prefs.js
            isMatch.js
          schema: ../schemas/org.gnome.shell.extensions.junk-notification-cleaner.gschema.xml
      - name: Create pre-release for CI build
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'push' && github.ref_type != 'tag'
        with:
          fail_on_unmatched_files: true
          files: ${{ steps.package.outputs.zip-file }}
          generate_release_notes: true
          prerelease: true
          tag_name: ci-build-${{ github.ref_name }}

      - name: Package and upload extension
        id: upload
        if: github.event_name == 'push' && github.ref_type == 'tag'
        uses: murar8/gnome-extensions-action@0.1.0
        with:
          source-dir: dist
          extra-source: |
            prefs.js
            isMatch.js
          schema: ../schemas/org.gnome.shell.extensions.junk-notification-cleaner.gschema.xml
          username: ${{ secrets.GNOME_EXTENSIONS_USER }}
          password: ${{ secrets.GNOME_EXTENSIONS_PASSWORD }}
          accept-tos: true
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'push' && github.ref_type == 'tag'
        with:
          fail_on_unmatched_files: true
          files: ${{ steps.package.outputs.zip-file }}
          generate_release_notes: true
